:root {
  /* primary colors */
  --color-primary: #161b27;
  --color-primary-light: #332a51;
  --color-accent: #7a5ed2;
  --color-accent-light: #bd9bff;

  /* feedback colors */
  --color-danger: #ff5656;
  --color-danger-light: #ff8a83;
  --color-success: #00886b;
  --color-success-light: #41b999;

  /* shades of gray */
  --black: #1d1d21;
  --gray-10: #2e2e31;
  --gray-6: #7b7a7d;
  --gray-4: #a5a5a6;
  --gray-3: #bbbbbc;
  --gray-2: #d1d0d2;
  --gray-1: #e8e7e8;
  --white: white;
  --transparent: transparent;

  /* body */
  --bg-primary: var(--color-primary);
  --bg-secondary: var(--color-primary-light);

  /* font colors */
  --text-color: var(--white);
  --text-color-secondary: var(--gray-1);
  --link: var(--white);
  --link-active: var(--color-accent-light);

  /* buttons */
  --btn-color: var(--color-accent);
  --btn-color-active: var(--color-accent-light);
  --btn-color-caption: var(--white);
  --btn-color-caption-active: var(--gray-2);

  /* inputs */
  --input-color: var(--transparent);
  --input-color-active: var(--color-accent);
}

body {
  background: var(--bg-primary);
  color: var(--text-color);

  input {
    background: var(--input-color);
    border-bottom: 2px solid var(--color-accent);
    color: var(--text-color);

    &:focus {
      outline: none;
    }
  }

  a {
    color: var(--white);
  }

  button {
    background: var(--btn-color);
    color: var(--btn-color-caption);

    &:hover {
      background: var(--btn-color-active);
    }
  }

  fieldset {
    background: var(--bg-secondary);
  }
}
